.__dumi-default-layout-hero h1 {
  color: #5abec3 !important;
  font-size: 80px !important;
  padding-bottom: 30px !important;
}

.__dumi-default-layout-hero button {
  background-color: #5abec3 !important;
  border: 1px solid #5abec3 !important;
}
